.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color:rgba(77, 77, 77, .6);
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  transition: visibility .3s linear, opacity 0.3s linear;
  box-sizing: border-box;
}