.feedback-form__subtitle {
  margin: 0 auto 5px 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
}

@media screen and (max-width: 500px) {
  .feedback-form__subtitle {
    font-size: 14px;
  }
}