.feedback-form__title {
  margin: 0 auto 16px 0;
  font-weight: 500;
  font-size: 30px;
  line-height: 140%;
}

@media screen and (max-width: 500px) {
  .feedback-form__title {
    font-weight: 400;
    font-size: 26px;
    line-height: 120%;
  }
}