.service__subtitle {
  margin: 0 auto 30px 58px;
}

@media screen and (max-width: 930px) {
  .service__subtitle {
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    margin: 0 0 10px 20px;
  }
}