.reviews {
  width: 100%;
  background-image: url(../../images/reviews-background.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  margin-bottom: 50px;
  height: 600px;
}