.about-car__small-imgs {
  position: relative;
  width: 100%;
  display: grid;
  gap: 10px;
  grid-auto-flow: column;
  grid-template-columns: repeat(auto-fit, minmax(150px ,auto));
  grid-template-rows: 130px;
  margin: 0 0 40px 0;
  overflow-x: scroll;
  overflow-y: hidden;
}

@media screen and (max-width: 1000px) {
  .about-car__small-imgs {
    margin: 0;
  }  
}
