.credit__button {
  width: 100%;
  background-color: #C72931;
  border-radius: 14px;
  height: 56px;
  border: none;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  opacity: 1;
  transition: all .3s ease-in-out;
}

.credit__button:hover {
  cursor: pointer;
  opacity: .8;
}