.benefits__text {
  text-align: center;
  margin: 90px auto 39px auto;
  max-width: 85%;
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
}

@media screen and (max-width: 1024px) {
  .benefits__text {
    margin-top: 50px;
  }
}

@media screen and (max-width: 500px) {
  .benefits__text {
    font-size: 16px;
    margin-top: 50px;
  }
}