.about__author {
  font-family: 'Caveat';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  margin: 40px 0 0 auto;
}

@media screen and (max-width: 500px) {
  .about__author {
    font-size: 17px;
  }
}