.feedback-form__form {
  display: grid;
  grid-template-columns: 577px 454px;
  gap: 163px;
  grid-template-rows: max-content;
  margin: 0 auto 80px auto;
}

@media screen and (max-width: 1480px) {
  .feedback-form__form {
    margin-right: auto;
    margin-left: auto;
  }
} 

@media screen and (max-width: 1380px) {
  .feedback-form__form {
    gap: 50px;
    grid-template-columns: 577px 400px;
  }  
}

@media screen and (max-width: 1150px) {
  .feedback-form__form {
    grid-template-columns: 577px 300px;
  }  
}

@media screen and (max-width: 1024px) {
  .feedback-form__form {
    grid-template-columns: 1fr;
    gap: 27px;
  }  
}

@media screen and (max-width: 690px) {
  .feedback-form__form {
    margin: 0 20px 20px 20px;
  }
}

