.services__image-leasing {
  width: 128px;
  height: 128px;
}

@media screen and (max-width: 1170px) {
  .services__image-leasing {
    transform: scale(.7);
  }
}

@media screen and (max-width: 520px) {
  .services__image-leasing {
    transform: scale(.4);
  }
}
