.about-company__paragraph {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  margin: 0 0 10px 0;
}

.about-company__paragraph:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .about-company__paragraph {
    font-size: 16px;
  }  
}