.filter__radio {
  border: 0;
  max-width: 100%;
  box-sizing: border-box;
  background-color: transparent;
  margin-top: 5px;
  font-size: 14px;
  font-family: inherit;
  display: flex;
  margin: 20px auto 57px 48px;
}

.filter__radio-extra {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.filter__radio-extra:checked + .filter__pseudo-radio {
  background-image: url(../../../images/filter_radio-checked.svg);
}
.filter__radio-extra:disabled + .filter__pseudo-radio {
  background-color: red;
}
.filter__radio-extra:disabled:checked + .filter__pseudo-radio {
  background-color: #fff;
  border: 12px solid #4D4D4D;
}

@media screen and (max-width: 1480px) {
  .filter__radio {
    justify-content: space-between;
    margin: 20px 40px 20px 40px;
  }  
}

@media screen and (max-width: 550px) {
  .filter__radio {
    flex-direction: column;
    margin: 20px auto 38px 20px;
  }  
}