.about-car__block {
  display: grid;
  grid-template-columns: minmax(320px, 783px) minmax(320px, 537px);
  grid-template-rows: minmax(min-content, max-content);
  gap: 40px;
}

@media screen and (max-width: 1380px) {
  .about-car__block {
    grid-template-columns: 1fr;
    gap: 0;
  }  
}