.footer__info {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 60px auto auto 0;
}

@media screen and (max-width: 1024px) {
  .footer__info {
    width: 100%;
    margin: 0;
  }  
}