.service__select {
  background-color: #303A40;
  border-radius: 14px;
  border: 1px solid #4D4D4D;
  color: #fff;
  box-sizing: border-box;
  padding: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  height: 62px;
  width: 100%;
}

.service__select:hover {
  cursor: pointer;
}