.calculation__paragraph {
  margin: 30px 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
}

.calculation__paragraph:nth-of-type(2n) {
  margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .calculation__paragraph {
    margin: 10px 0;
    font-size: 16px;
  }  
}