.services__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: min-content;
  gap: 40px;
  margin: 0 auto 50px auto;
}

@media screen and (max-width: 1020px) {
  .services__items {
    gap: 20px;
  }
}

@media screen and (max-width: 950px) {
  .services__items {
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    gap: 10px;
  }
}

@media screen and (max-width: 655px) {
  .services__items {
    grid-template-columns: repeat(3, minmax(100px, 1fr));
  }
}



