.header__logo {
  margin: 14px auto 14px 80px;
  width: 153px;
  height: 72px;
  position: relative;
  z-index: 4;
}

@media screen  and (max-width: 1320px){
  .header__logo {
    margin-left: auto;
  }
}

@media screen  and (max-width: 830px){
  .header__logo {
    width: 118px;
    height: 56px;
  }
}

@media screen  and (max-width: 768px){
  .header__logo {
    margin: 14px auto 14px 20px;
  }
}