.model__mask {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .model__mask {
    min-height: 80px;
    height: 80px;
  }  
}