.header__saved {
  background-image: url(../../../images/like-white.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: cover;
  border: none;
  width: 24px;
  height: 22px;
  padding: 0;
  opacity: 1;
  margin: auto 30px auto 0;
  opacity: 1;
  transition: opacity .3s ease-in-out;
}

.header__saved:hover {
  cursor: pointer;
  opacity: .8;
}