.news-big {
  max-width: 1440px;
  padding: 30px 60px 60px;
  margin: 0 auto 50px auto;
  background-color: #283035;
  box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.04);
  border-radius: 30px;
  box-sizing: border-box;
}

@media screen and (max-width: 1480px) {
  .news-big {
    width: 92%;
    margin-right: 4%;
    margin-left: 4%;
  }  
}

@media screen and (max-width: 1200px) {
  .news-big {
    margin-right: 2%;
    margin-left: 2%;
    width: 96%;
  }  
}

@media screen and (max-width: 1024px) {
  .news-big {
    padding: 0;
    margin-bottom: 30px;
  }  
}