.header__link {
  color: #FFFFFF;
  margin: 0 20px;
  text-decoration: none;
  opacity: 1;
  transition: all .3s ease-in-out;
  white-space: nowrap;
}

.header__link:hover {
  opacity: .8;
  color: #C72931;
}

