.сar-brands {
  width: 1441px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

@media screen and (max-width: 1480px) {
  .сar-brands {
    width: 92%;
    margin-right: 4%;
    margin-left: 4%;
  }
}

@media screen and (max-width: 1200px) {
  .сar-brands {
    margin-right: 2%;
    margin-left: 2%;
    width: 96%;
  }  
}