.footer__link {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  padding: 0;
  height: 40px;
  padding-left: 97px;
  margin: 0;
  opacity: 1;
  transition: opacity .3s ease-in-out, border-color .3s ease-in-out;
  border: 2px solid transparent;
  box-sizing: border-box;
}

.footer__link:hover {
  opacity: .8;
  color: #C72931;
  border-left: 2px solid #C72931;
}

@media screen and (max-width: 1350px) {
  .footer__link {
    padding-left: 50px;
  }  
}

@media screen and (max-width: 1024px) {
  .footer__link {
    align-items: center;
    justify-content: center;
    padding-left: 0;
    border-bottom: 1px solid #4D4D4D;
    width: 100%;
    height: 57px;
    border-left: none;
  }
  .footer__link:hover {
    border-left: none;
  }
}

@media screen and (max-width: 625px) {
  .footer__link {
    justify-content: flex-start;
    padding-left: 20px;
  }  
}
