.header__phone {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 16px;
  background-color: #C72931;
  border-radius: 14px;
  width: 205px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
}