.about-company__subtitles {
  display: flex;
  border-bottom: 2px solid #4D4D4D;
  margin: 0 auto 20px 0;
}

@media screen and (max-width: 768px) {
  .about-company__subtitles {
    flex-direction: column;
    border-bottom: none;
  }  
}