.services__image-service {
  width: 288px;
}

@media screen and (max-width: 1170px) {
  .services__image-service {
    transform: scale(.7);
  }
}

@media screen and (max-width: 768px) {
  .services__image-service {
    transform: scale(.5);
  }
}

@media screen and (max-width: 520px) {
  .services__image-service {
    transform: scale(.3);
  }
}
