.card__current-price {
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  margin: 0 10px 0 0;
}

@media screen and (max-width: 1085px) {
  .card__current-price {
    font-size: 14px;
    line-height: 120%;
  }  
}