.benefits__number {
  margin: auto;
  padding: 0;
  font-weight: 500;
  font-size: 50px;
  line-height: 140%;
}

@media screen and (max-width: 1024px) {
  .benefits__number {
    font-size: 38px;
  }  
}