.about {
  width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: minmax(min-content, max-content);
  gap: 40px;
}

@media screen and (max-width: 1480px) {
  .about {
    width: 92%;
    margin-right: 4%;
    margin-left: 4%;
  }  
} 

@media screen and (max-width: 1200px) {
  .about {
    margin-right: 2%;
    margin-left: 2%;
    width: 96%;
  }  
}

@media screen and (max-width: 1024px) {
  .about {
    grid-template-columns: 1fr;
  }  
}