.car-brands__title {
  margin: 8px auto 0 auto;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
}

@media screen and (max-width: 650px) {
  .car-brands__title {
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
  }
}