.chat {
  position: fixed;
  bottom: 0;
  right: 80px;
  background-color: #283035;
  border-radius: 20px;
  width: 340px;
  margin: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  z-index: 3;
}