.galery__current-item {
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background-color: #4D4D4D;
  opacity: 0.6;
}

.galery__current-item:nth-of-type(2n) {
  margin: 0 6px;
}

.galery__current-item:hover {
  cursor: pointer;
}