.header__chat {
  background-image: url(../../../images/header-chat.svg);
  background-repeat: no-repeat;
  background-position: cover;
  border: none;
  background-color: transparent;
  width: 42px;
  height: 42px;
  padding: 0;
  margin: auto 33px auto 0;
  opacity: 1;
  transition: opacity .3s ease-in-out;
}

.header__chat:hover {
  cursor: pointer;
  opacity: .8;
}

@media screen  and (max-width: 1320px){
  .header__chat {
    margin-right: 10px;
  }
}