.footer__confidentiality {
  color: #4D4D4D;
  font-size: 12px;
  padding: 0;
  margin: 5px 0;
}

@media screen and (max-width: 625px) {
  .footer__confidentiality {
    position: absolute;
    bottom: 10px;
    left: 20px;
    margin: 0;
  }  
}