.filter__select {
  background-color: #303A40;
  color: #fff;
  height: 62px;
  box-sizing: border-box;
  padding: 20px 20px 20px 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  border-radius: 14px;
  border: 1px solid #4D4D4D;
}

.filter__select:hover {
  cursor: pointer;
}