.about__paragraph {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  margin: 0 auto 20px 0;
}

.about__paragraph:nth-of-type(2n) {
  margin-bottom: 0;
}

@media screen and (max-width: 500px) {
  .about__paragraph {
    font-size: 14px;
  }
}