.leasing__list {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  margin: 0 100px 30px 80px;
  list-style-image: url(../../../images/list-item.svg);
}

@media screen and (max-width: 1024px) {
  .leasing__list {
    margin: 0 10px 20px 10px;
    padding-left: 20px;
  }  
}