.service__button {
  border-radius: 14px;
  background-color: #C72931;
  border: none;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  opacity: 1;
  height: 62px;
  transition: opacity .3s ease-in-out;
}

.service__button:hover {
  opacity: .8;
  cursor: pointer;
}

@media screen and (max-width: 1400px) {
  .service__button {
    grid-column: 1 / span 3;
  }  
}

@media screen and (max-width: 930px) {
  .service__button {
    grid-column: 1 / span 1;
  }
}